.postdetailpage {
  width: 700px;
  margin: 0px auto;
  padding-top: 36px;
}
.detailimg {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #eaeaea;
  border-radius: 12px;

  width: 100%;
  max-width: 700px;
  aspect-ratio: 7 / 4;
  max-height: 400px;
  overflow: hidden;
  position: relative;
}
.detailimg img {
  max-height: 400px;
  height: 100%;
}
.postdetailpage h3 {
  margin-top: 24px;
  font-size: 48px;
  color: rgb(51, 61, 75);
  line-height: 1.25;
  word-break: keep-all;
  overflow-wrap: break-word;
  /* padding: 1rem 2rem;
  text-align: center;
  font-weight: bold;
  background-color: white;
  position: relative;
  z-index: 1; */
}
.count {
  margin-top: 24px;

  display: flex;
  align-items: center;
}
.count img {
  width: 16px;
  height: 16px;
}
.count span {
  display: flex;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 4px;
}
.summary {
  background-color: #eaeaea;
  padding: 1rem;
  border-radius: 1rem;
  font-style: italic;
  margin-top: 24px;
}

.date {
  color: rgb(139, 149, 161);
  font-size: 14px;
}
.desc {
  padding: 1rem;
}
.content {
  margin-top: 54px;
}
.btns {
  padding: 54px 0 50px 0;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  font-size: 15px;
  color: #4e5968;
  font-weight: 600;
}
.btns a,
.btns span {
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s;
}
.btns a:hover,
.btns span:hover {
  background-color: var(--grey300);
}
.commentlist {
  padding: 1rem;
}
.author {
  font-size: 17px;
  cursor: pointer;
  color: rgb(78, 89, 104);
  transition: color 0.2s;
  height: auto;
}
.author a {
  padding: 12px;
  padding-left: 0;
}
.author:hover {
  cursor: default;
}
.author a:hover {
  color: #007bff;
}

@media (max-width: 760px) {
  .postdetailpage {
    width: 100%;
    padding: 0px 24px;
    padding-top: 36px;
  }
  .postdetailpage h3 {
    font-size: 32px;
  }
}
