/* post */
.postcard {
  cursor: pointer;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  width: 100%;
  padding: 24px 0;
}

.title {
  margin-bottom: 6px;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
  color: #191f28;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: break-word;
  transition: color 0.2s;
}

.post_text {
  padding: 0 1rem;
  font-size: 0.75rem;
}

.post_img {
  width: 130px;
  height: 85px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: auto;
  border-radius: 12px;
}
.post_img img {
  position: absolute;
  top: 0;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  vertical-align: middle;
  transition: all 0.2s ease;
}
.postcard:hover {
  .title {
    color: #007bff;
  }
}
.postcard:hover .post_img img {
  transform: scale(1.2);
}

.info {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-right: 20px;
}
/* .author {
  color: dodgerblue;
  font-weight: bold;
  padding: 0.25rem 1rem 0.25rem 0;
}
.author:hover {
  color: rgb(1, 75, 148);
} */

/* .date {
  color: #999;
  margin-left: 0.5rem;
} */
.dec {
  color: var(--grey700);
  margin-bottom: 17px;
  font-size: 15px;
  line-height: 1.6;
}

.heart {
  cursor: pointer;
  transition: color 0.3s ease;
}

.heart.liked {
  color: red;
}
.etc {
  color: var(--grey700);
  line-height: 1.6;
  font-size: 13px;
  display: flex;
}
.etc img {
  width: 14px;
  height: 14px;
}
.etc span {
  display: flex;
  justify-content: center;
  align-items: center;
}
